body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
  padding: 0;
  margin: 0;
}

/* Mine container */

.mine-container {
  display: flex;
  flex-direction: row-reverse;
  width: 1600px;
  height: 2262px;
  background-color: #ffffff;
  /* margin: 40px auto; */
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main contant section */

.main-contant-section {
  padding: 50px 0px 50px 0px;
}

.second-contant-section {
  padding: 50px 115px 50px 115px;
}

.main-contant-title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
  margin: 25px 0 13px 0;
}

/* About me section */

.about-me-section {
  height: 534px;
  padding: 55px 115px 0 115px;
  background-image: linear-gradient(
      rgba(150, 150, 150, 0.5),
      rgba(150, 150, 150, 0.5)
    ),
    url(../img/code.jpg);
  background-size: contain;
  background-position: center;
}

.about-me-profession {
  display: inline-block;
  background-color: #191617;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  padding: 13px;
  margin-bottom: 25px;
  border-radius: 25px;
}

.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 57px;
  line-height: 70px;
  color: #000000;
  margin-bottom: 32px;
}

.about-me-description {
  width: 730px;
  padding: 13px 0 13px 13px;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  background-color: #303030;
  color: #ffffff;
}

/* My progects section */

.my-progects-section {
  margin-bottom: 63px;
}

.my-progects-list {
  padding: 0 20px 0 22px;
}

.my-progects-item {
  color: #000000;
  font-weight: 700;
}

.my-progects-text {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #595959;
  margin-left: 5px;
}
.my-progects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #595959;
}

.my-progects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.my-progects-description {
  font-weight: 500;
  margin: 0 0 10px 5px;
}

/* My work expirience section */

.my-work-experience-company-block {
  margin: 0 0 0 0;
}

.my-work-experience-position,
.my-education-position {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 25px;
  margin: 0 0 13px 0;
}

.my-work-experience-position-auxiliary {
  color: #8b7e6d;
}

.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 22px;
  color: #a0a0a0;
  margin: 0 0 13px 0;
}

.my-work-experience-devider {
  color: #8b7e6d;
}

.my-work-experience-duties {
  padding: 0 0 0 23px;
}

.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #595959;
}

.my-work-experience-company {
  color: teal;
}

/* My education section */

.my-education-section {
  padding-top: 32px;
}

.my-education-position-specialty {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
  margin: 13px 0;
}

/* Sidebar section */

.sidebar-section {
  background-color: #1f1f1f;
  width: 470px;
  padding: 50px 0;
}

img {
  display: block;
  width: 470px;
}

.section-of-sidebar {
  padding-top: 50px;
  margin: 0 50px 0 50px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 28px;
  line-height: 34px;
  color: #ffffff;
  margin: 25px 0 13px 0;
}

/* Contacts section */

.contacts-icon {
  width: 18px;
  height: 18px;
  fill: #ffffff;
  margin: 0 5px 0 5px;
}

.contacts-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  opacity: 0.5;
  text-decoration: none;
}

.contacts-section-link:hover {
  color: #ffffff;
  opacity: 1;
}

/* Skills section */

.skills-list {
  padding-left: 22px;
}

.skills-item {
  color: fuchsia;
}

.skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}
