body {
font-family: 'Montserrat', sans-serif;
 background: #F5F7FA;
}

.main-container{
display: flex;
flex-direction: row;
width: 1200px;
background-color: #ffff;
margin:auto;
box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* Main content section*/

.main-contest-section{
   padding: 600px;
}

 .main-content-title{
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
    
 }

  /* About me section*/
  
  .about-me-section {
    margin-bottom: 60; 
  }
 
    

 .about-me-profession {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 25px;
 }

 .about-me-name{
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 20px;
 }

 .about-me-description{
     width: 400px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: darkslategray;
 }
  

 /*My projects section*/
 
 .my-projects-section {
    margin-bottom: 50px;
    color: #A8A8A8;
     }
 .my-projects-list{
     padding: 0 0 0 17px;
 }

 .my-projects-item{
     color: black;
     font-weight: bold;
   }


 
    .my-projects-link{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: black;
    }
  
.my-projects-link:hover{
  color: red;
  opacity: 1;
}
 .my-projects-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    margin-left: 5px;
    color: black;
 }

 .my-projects-bracket{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: orangered;
 }


  /*My work experiance*/

 .my-work-experience-company{
    color: orangered;
 }

  .my-work-experience-pasition{
 font-style: normal;
 font-weight: bold;
font-size: 16px;
 line-height: 20px;
 margin: 0 0 10px 0;
 }

 .my-work-experience-period{
 font-style: normal;
 font-weight: normal;
 font-size: 12px;
 line-height: 15px;
 color: #A8A8A8;
 margin: 0 0 10px 0;
  }

  .my-work-experience-divader{
    color: #000000;
  }

  .my-work-experience-duties{
      padding: 0 0 0 18px;
  }

  .my-work-experience-duty{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: darkslategray;
  }

  .my-work-experience-company-blok{
      margin: 0 15px 0 0;
  }


  /*My education*/

  .my-university{
      color: orangered;;
  }

  .my-profession{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    
  }

  .my-university-period{
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 15px;
    color: darkgrey;
  }

  .my-university-period-divared{
    color: #000000;
  }


 /* sadebar section */

  .sadebar-section {
    background-color: darkcyan;
    Width: 400px;
    padding: 40px 0;
 }

 .Contacts-section,
 .Tech-skill-section,
 .Soft-Skills-section{
    margin:  10px;
 }

 .Sadebar-title{
 font-style: normal;
 font-weight: bold;
  font-size: 22px;
 line-height: 27px;
 color: blanchedalmond;
 margin-bottom: 10px;
}

 /* contacts section */
 
 .Contacts-section-type{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
    margin-right: 7px;
 }
 .Contacts-section-link{
 color: #fff;
 font-style: normal;
 font-weight: normal;
 font-size: 14px;
 line-height: 24px;
 text-decoration: none;
 }


   /* Tech scills & soft scills*/ 

   .Soft-scills-list{
    margin:  40px 0 0 17px;
   }
   

 .Tech-skill-list{
    padding: 0 0 0 17px;
 }

 .Soft-scills-list{
     padding: 0 17px 0 0;
 }
 

 .Sadebar-title{
    font-style: normal;
    font-weight: bold;
     font-size: 22px;
    line-height: 27px;
    color: #fff;
    margin-bottom: 10px;
   }
   
 .Tech-skill-item,
 .Soft-scills-item{
    color: orangered;
 }

  .Tech-skill-item-text,
  .Soft-scills-item-text{
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #fff;
 }
.main-contest-section{
background-color: lightgrey;
margin: 20px;
padding: 20px;

}

